#alignment{
    margin-top:3px;
   margin-left:170px;
   margin-right:650px;
}
button{
  border-radius: 10px;
}
button:hover{
  opacity:0.8;
}
input[type=text],input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(247, 247, 247);
 
}
#bgg{
  background-image:url("bg3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size:cover;
  background-position: center;
}

#leftab li{
  list-style-type:none;
  text-align :center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30;
    text-shadow: 0 0 5px grey, 0 0 5px white;
    padding-right:1.8em;
    margin:2em 0;
    
}
#leftab li a{

  text-decoration:none;
  color:rgb(73, 73, 248);
  padding:10px 70px;
  border:1px solid black transparent;
transition:0.5s ease;
padding:10px 20px;

font-size: x-large;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 border-radius: 10px;
 font-size:30;
 
}
#leftab li a:hover{
  background-color:rgba(218, 193, 177, 0.993);
}

#nav-center{
  width:100%;  
  float:unset; 
  align-content:center;
  
}
#nav-center{
  list-style-type:none;
}
#nav-center li{
    display:inline-block;
    font-size:xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 5px rgb(91, 179, 19), 0 0 5px white;
    margin-top:20px;
    margin-left:70px;
    margin-right:65px;
    margin-bottom:10px;
}
#nav-center li a{
border-radius: 17px;
    text-decoration:none;
    color:rgb(73, 73, 248);
    padding:15px 25px;
    transition:0.6s ease;
}
#nav-center li a:hover
{
  background-color:rgba(218, 193, 177, 0.993);
}
#front{
  margin-top:50px;
 
}
#middle{
  margin-top:220px;
}
h1{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(73, 73, 248);
}
p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:28;
}
.button {
  background-color: rgb(106, 139, 240);;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius:10px;
  font-size:medium;
  font-weight: bolder;
}
.button:hover {
  background-color:grey;
}
.fonts{
 font-family: Arial, Helvetica, sans-serif;
*box-sizing: border-box;
}
.sub{
  float:left;
  width:45%;
}
.res{
  float:right;
  width:45%;
}
